.ng-invalid.ng-touched:not(form) {
  border: 1px solid red;
  
}

img {
  position: absolute;
    width: 570px;
    height: 573px;
    margin: 0;
    padding-top: 90px;
    float: left;
}

h1 {
  font-size: 52px;
  color: rgb(153, 45, 163);
  text-align: center;
}
p {
  width: 380px;
  text-align: justify;
  text-indent: 25px;
  color: rgb(161, 161, 161);
  font-size: 12px;
}
.container-form {
  padding: 60px 0 0 10px;
  height: 520px;
  width: 425px;
  float: right;
}
form{
  width: 270px;
  margin: 0px 0px 0 80px;
}
.icon {
  position: absolute;
  margin-top: 9px;
  margin-left: 10px;
  font-size: 14px;
}
input, textarea {
  width: 278px;
  padding: 8px 5px 8px 30px;
  margin: 0 0 0 0;
  border-radius: 4px;
  border-color: rgb(226, 223, 223);
  resize: none;
  border-style: solid;
  box-shadow: 0 6px 4px 4px #ecebeb91;
  font-size: 12px;
}
textarea {
    height: 180px;
}
button {
  margin: 0 0 0 90px ;
  height: 30px;
  width: 90px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(153, 45, 163);;
  cursor: pointer;
  font-size: 11px;
}

@media (max-width: 999px){
    img{
        width: 510px;
        height: 569px;
        padding-top: 90px;
    }
    .container-form {
      padding: 50px 0 0 10px;
      height: 510px;
      width: 425px;
      float: right;
    }
}

@media (max-width: 858px) {
    img {
      display: none;
    }
  
    article {
      font-family: sans-serif;
      height: 110px;
      padding: 10px 0 0 0;
    }
    h1 {
      margin: 0 0 0 40px;
      font-size: 42px;
      color: rgb(153, 45, 163);
    }
    p {
      margin: 0 0 0 70px;
      color: rgb(161, 161, 161);
      font-size: 12px;
      text-align: justify;
      width: 320px;
    }
    form {
      padding: 15px 0 0 0;
      height: 380px;
      width: 280px;
    }
  }
  